$green-0: #1BC69B;
$green-10: #19B18B;
$green-20: #179F7D;
$green-30: #168E70;
$green-40: #148065;
$green-50: #12725A;
$green-60: #116751;
$green-70: #105C49;
$green-80: #0E5241;
$green-90: #0D4A3B;

$grey-0: #F4F4F4;
$grey-10: #E6E6E6;
$grey-20: #CFCFCF;
$grey-30: #BABABA;
$grey-40: #A7A7A7;
$grey-50: #979797;
$grey-60: #888888;
$grey-70: #7A7A7A;
$grey-80: #6E6E6E;
$grey-90: #636363;

$white-90: #FFFFFF;

$colors-map:
    (green-0, $green-0),
    (green-10, $green-10),
    (green-20, $green-20),
    (green-30, $green-30),
    (green-40, $green-40),
    (green-50, $green-50),
    (green-60, $green-60),
    (green-70, $green-70),
    (green-80, $green-80),
    (green-90, $green-90),

    (grey-0, $grey-0),
    (grey-10, $grey-10),
    (grey-20, $grey-20),
    (grey-30, $grey-30),
    (grey-40, $grey-40),
    (grey-50, $grey-50),
    (grey-60, $grey-60),
    (grey-70, $grey-70),
    (grey-80, $grey-80),
    (grey-90, $grey-90),

    (white-90, $white-90)
;
