@import "../bootstrap";

.wave {
    width: 100%;
    background-image: url('/public/img/waves/wave.png');
    background-size: cover;

    @media ($breakpoint_sm_max) {
        height: 40px;
    }

    @media ($breakpoint_md) {
        height: 60px;
    }

    @media ($breakpoint_lg) {
        height: 40px;
    }

    @media ($breakpoint_xl) {
        height: 80px;
    }
}
